<%- include("partials/header") %>

<div class="expertpage_layout">
    <div class="ticket_list">
        <div class= "ticket_list_info_space">
            <h1>Hier komt een lijst met de tickets</h1>
        </div>
        <div class="ticket_list_button_space">
            <h1>Hier komen buttons te staan</h1>
        </div>
    </div>
    <div class="ticket_info">
        <div class= "ticket_info_info_space">
            <h1>Hier komt een frame met de info over de geselecteerde ticket</h1>
        </div>
        <div class="ticket_info_button_space">
            <h1>Hier komen een aantal buttons (met bijvoorbeeld links naar de video)</h1>
        </div>
    </div>
    <div class="ticket_send_options">
        <div class= "ticket_send_info_space">
            <h1>De opties bij het opslaan</h1>
        </div>
        <div class="ticket_send_button_space">
            <h1>Send</h1>
        </div>
    </div>
</div>

<%- include("partials/footer") %>