<%- include("partials/header") %>
<%- include("partials/nav-bar") %>

<div class="landingtitle">
    <h1>Corona Check</h1>
    <h2>Check je Corona nieuws</h2>
</div>
<div class="landing_block">
    <h1>Hoe werkt het?</h1>
    <div class="landing_block_first">
        <div class="temp_afbeeldingplaceholder"></div>
        <p>Bekijk onze lijst met goede en slechte channels</p>
    </div>
    <div class="landing_block_second">
        <div class="temp_afbeeldingplaceholder"></div>
        <p>Zoek naar Channels</p>
    </div>
    <div class="landing_block_third">
        <div class="temp_afbeeldingplaceholder"></div>
        <p>Vraag een channel review aan</p>
    </div>
</div>
<div class="landing_block">
    <h1>Wat maakt deze site betrouwbaar</h1>
    <div class="landing_block_first">
        <div class="temp_afbeeldingplaceholder"></div>
        <p>Actie 1</p>
    </div>
    <div class="landing_block_second">
        <div class="temp_afbeeldingplaceholder"></div>
        <p>Actie 2</p>
    </div>
    <div class="landing_block_third">
        <div class="temp_afbeeldingplaceholder"></div>
        <p>Actie 3</p>
    </div>
</div>

<%- include("partials/footer") %>
