<%- include("partials/header") %>
<%- include("partials/nav-bar") %>

<div class= "navbarless_full login_grid">
        <form class="login_form" action="/login" target="_self" method="POST">
            <h1>Login</h1>
            <input class="login_input" type="text" placeholder="username" name="username">
            <input class="login_input" type="password" placeholder="passport" name="password">
            <button class="login_button" type="submit">Submit</button>
        </form>
</div>

<%- include("partials/footer") %>