<%- include("partials/header") %>

<div class= "navbarless_full login_grid">
        <form class="login_form" action="/test" target="self" method="POST">
            <h1>Login</h1>
            <input class="login_input" type="text" placeholder="username" name="loginUsername">
            <input class="login_input" type="text" placeholder="passport" name="loginPassword">
            <button class="login_button" type="submit">Submit</button>
        </form>
</div>

<%- include("partials/footer") %>