
<form action="/test" target="self" method="POST">
    <input type="text" placeholder="username" name="loginUsername">
    <input type="text" placeholder="passport" name="loginPassword">
    <button type="submit">Submit</button>
</form>
