/* WOUTERS TOEVOEGINGEN */
.ticket_info_hidden {
  display: none;
}
/* EINDE WOUTERS TOEVOEGINGEN */

.navbarless_full {
  background-color: #e0e0e0;
  height: calc(100vh - 56px);
}

.login_grid {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 300px 1fr;
}

.login_form {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_button {
  width: 70%;
  margin-top: 10px;
  align-self: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login_input {
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  align-self: stretch;
}

/*====================================================================================
showpage
=====================================================================================*/

#janus_canvas {
  display: block;
  position: absolute;
  align-self: center;
  left: calc((20vw - 400px) / 2);
  background-color: green;
  background-color: rgb(65, 184, 118);
  /* background-color: rgb(35, 174, 98);
  background-color: rgb(20, 128, 69); */
}

.tri_panel,
.tri_panel_left,
.tri_panel_right {
  height: calc(100vh - 56px);
  width: 100vw;
  max-width: 2000px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  grid-template-columns: 5fr 400px 1fr;
  overflow: hidden;
}

.middle_panel {
  grid-column: 2;
  grid-row: 1;
  display: block;
  position: relative;
  overflow: hidden;
  width: 20%;
  margin: 0;
  padding: 0;
}

.left_panel {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  background-color: black;
  background-color: #1e1e1e;
  width: 40%;
  transition: width 1s;
}

.right_panel {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  background-color: rgb(84, 202, 137);
  background-color: #d1d1d1;
  background-color: rgb(65, 184, 118);
  /* background-color: rgb(35, 174, 98);
  background-color: rgb(20, 128, 69); */
  width: 40%;
  transition: width 1s;
}

.left_panel * {
  transition: opacity 0.5s;
}

.right_panel * {
  transition: opacity 0.5s;
}

.tri_panel_left .left_panel {
  width: 0%;
}

.tri_panel_left .right_panel {
  width: 80%;
}

.tri_panel_right .left_panel {
  width: 80%;
}

.tri_panel_right .right_panel {
  width: 0%;
}

.tri_panel_left .left_panel * {
  opacity: 0;
}

.tri_panel_left .right_panel * {
  opacity: 1;
}

.tri_panel_right .left_panel * {
  opacity: 1;
}

.tri_panel_right .right_panel * {
  opacity: 0;
}

.not_so_hidden_div_temp {
  display: block;
  height: 100%;
}

.not_so_hidden_div_temp .scrollspace{
  height: 100%;
  grid-template-rows: 50px 7fr 70% 0px 0% 0fr 50px;
  grid-template-columns: 20px 7fr 70% 0px 0% 1fr 20px;
}

.not_so_hidden_div_temp .ticket_info {
  grid-template-columns: 20px 20% 2fr 10px 20% 2fr 20px;
  grid-template-rows: 10px 50px 0px 5px 5fr 50% 20px;
  justify-content: stretch;
  width: 40vw;
}

.not_so_hidden_div_temp .ticket_info_info_space{
  grid-row: 5/ span 2;
  grid-column: 2/ span 5;
  color: white;
}

.not_so_hidden_div_temp .ticket_info_button_space{
  grid-row: 2;
  grid-column: 5/ span 2;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.not_so_hidden_div_temp .ticket_info_button_space button,
.not_so_hidden_div_temp .ticket_info_button_space a
{
width: 100px;
height: 100%;
margin-right: 10px;
}

.not_so_hidden_div_temp h5{
  grid-row: 2;
  grid-column: 2/span 2;
}

.hidden_div_temp {
  display: none;
}

.hidden_div_temp_container {
  opacity: 1;
  opacity: 0;
  background-color: transparent;
  transition: opacity 1.5s;
}

.not_so_hidden_div_temp_container {
  opacity: 0;
  opacity: 1;
  background-color: transparent;
  transition: opacity 1.5s 0.5s;
}

.good_list,
.bad_list {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 50px 1fr 50% 50px;
  height: 100%;
  width: 30vw;
  margin-left: 40px;
  margin-right: 40px;
  /* background-color: blue; */
}

.bad_list{
  margin-left: 0px;
}

.good_list .ticket_list,
.bad_list .ticket_list {
  grid-row: 2/ span 2;
  grid-column: 2;
  grid-template-rows: 8.4vh 60% 4fr 0px 0px 0px 20px;
  width: 30vw;
  height: 100%;
  color: white;
  justify-self: stretch;
}

.bad_list .ticket_list{

  background-color: rgb(255, 255, 255); 
  background-color:rgba(165, 84, 202,0.1);
  background-color: rgb(119, 211, 160);
  background-color: rgba(191, 196, 196, 1);
  background-color: rgba(230,230,230,0.75);
  color: rgb(84, 202, 137);
  color: rgb(0, 0, 0);
  color: rgb(40, 71, 60);
  color: #303030;
  color: black;
}

.bad_list .ticket_list h5{
  color: rgb(211, 130, 120);
  color: rgb(8, 13, 73);
  color: #05386B;
  color: #090909;
  color: rgb(57, 36, 159);
  color: #5b41b8;
  color: rgb(74, 2, 126);
  color: rgb(126, 68, 206);
  color: #0e0e0e;

  
}

.bad_list .ticket_list_info_space{
  /* background-color: rgb(157, 219, 185);
  background-color: rgba(255, 255, 255, 0.399);
  background-color: rgba(0, 0, 0, 0.1); */
}

.bad_list .ticket_list_info_list_item{
  /* background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2); */
}

.bad_list .ticket_list_info_list_item:hover{
  background-color: rgba(0, 0, 0, 0.2); 
}

.bad_list .ticket_list_info_list_item h4{
  border-color: black;
}

.right_panel .not_so_hidden_div_temp .ticket_info {
  background-color:rgb(119, 211, 160);
  background-color: rgb(191, 196, 196);
  background-color: rgba(230,230,230,0.75);
}

.right_panel .not_so_hidden_div_temp .ticket_info h5 {
  color:rgb(8,13,73);
  color: #05386B;
  color: rgb(126, 68, 206);
  color: #0e0e0e;
}

.right_panel .not_so_hidden_div_temp .ticket_info_info_space{
  background-color:rgb(157, 219, 185);
  background-color: rgba(0,0,0,0.1);
  color: rgb(40, 71, 60);
  color: #303030;
  color: black;
}

.right_panel .not_so_hidden_div_temp button,
.right_panel .not_so_hidden_div_temp a{
  /* background-color:rgb(157, 219, 185);
  background-color: #0e0e0e10; */
  color: rgb(85, 96, 252);
  color: #f44708;
  color: #0e0e0e;
}

.right_panel .not_so_hidden_div_temp button{
  background-color: #0e0e0e20;
}

.right_panel .not_so_hidden_div_temp button:hover,
.right_panel .not_so_hidden_div_temp a:hover{
  background-color: rgb(122, 131, 255);
  background-color: rgb(85, 96, 252);
  background-color: #f44708;
  background-color: #1e1e1e;
  color:black;
  color: white;
}



/*====================================================================================
searchfield
=====================================================================================*/

.search_background {
  height: calc(100vh - 56px);
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 1fr 250px 1fr;
}

.search_box {
  grid-row: 2;
  grid-column: 2;
  align-self: stretch;
  justify-self: stretch;
}

.search_box form {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 20px 1fr 40px 60px 20px;
  grid-template-rows: 1fr 50px 20px 60px 2fr;
  justify-content: stretch;
  align-items: stretch;
}

.search_box h1 {
  color: white;
  grid-column: 2 / span 3;
  grid-row: 2;
  text-align: center;
  justify-content: center;
}

.search_box input {
  grid-column: 2;
  grid-row: 4;
}

.search_box button {
  grid-column: 4;
  grid-row: 4;
  border-radius: 50%;
}

/*====================================================================================
expertpage
=====================================================================================*/
.expertpage_layout {
  height: calc(100vh - 56px);
  width: 100vw;
  /* background-color: gray;
  background-color: rgb(112, 116, 113); */
  display: grid;
  grid-template-columns: 40px 22% 1fr 20px 44% 2fr 40px;
  grid-template-rows: 20px 1fr 56% 20px 28% 1fr 20px;
  justify-content: stretch;
  align-items: stretch;
}


.expertpage_layout h1 {
  font-size: 1vw;
}

.ticket_list {
  /* background-color: rgb(80, 82, 80); */
  grid-row: 3 / span 3;
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 8.4vh 60% 4fr 20px 60px 0px 2.4vh;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 10px;
}

.scrollspace {
  background-color: none;
  grid-row: 3 / span 3;
  grid-column: 5 / span 2;
  display: grid;
  grid-template-columns: 0px 22% 1fr 20px 44% 2fr 0px;
  grid-template-rows: 0px 7fr 70% 0px 20% 2fr 0px;
  align-items: stretch;
  justify-content: stretch;
}

.info_title {
  /* Deze is een beetje lelijk achteraf toegevoegd. Kan mooier*/
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  align-self: center;
  margin-left: 5px;
  font-size: 4vh;
  font-weight: bolder;
  color: rgb(84, 202, 137);
}

.ticket_info {
  /* background-color: rgb(80, 82, 80); */
  grid-row: 2 / span 2;
  grid-column: 2 / span 5;
  display: grid;
  grid-template-columns: 20px 40% 4fr 20px 10% 1fr 20px;
  grid-template-rows: 8.4vh 1fr 2.1vh;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ticket_send_options {
  /* background-color: rgb(80, 82, 80); */
  grid-row: 5 / span 2;
  grid-column: 2 / span 5;
  display: grid;
  grid-template-columns: 20px 40% 4fr 20px 10% 1fr 20px;
  grid-template-rows: 3.2vh 1fr 3.2vh;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*----sub groups: ticket list----*/

.ticket_list_button_space {
  grid-row: 5 / span 2;
  grid-column: 2;
  background-color: rgba(255, 255, 255, 0.399);
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  align-items: stretch;
  justify-items: stretch;
  margin-left: 20px;
  margin-right: 20px;
}

.ticket_list_button_left {
  background-image: url("/download.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0px;
}
.ticket_list_button_mid {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}
.ticket_list_button_right {
  background-image: url("/download_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0px;
}

.ticket_list_info_space {
  grid-row: 2 / span 2;
  grid-column: 2;
  /* background-color: rgba(255, 255, 255, 0.399); */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.ticket_list_info_list_container {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.ticket_list_info_list_item {
  /* background-color: rgb(207, 208, 207); */
  margin-right: 12px;
  margin-left: 0px;
  /* border-radius: 5px; */
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 6px;
  
}


.ticket_list_info_list_item h4 {
  margin: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
  /* border-bottom: 2px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px; */
}

.ticket_list_info_list_item:hover{
  background-color: #ffffff20;
}

/*----sub groups: ticket list----*/

.ticket_info_button_space {
  grid-row: 2;
  grid-column: 5 / span 2;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 2.4vh;
  padding-bottom: 2.4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ticket_info_button_space button,
.ticket_info_button_space a {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.ticket_info_button_space a button {
  /* temporary: the button within an a tag needs to go*/
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
}

.ticket_info_info_space {
  grid-row: 2;
  grid-column: 2 / span 2;
  /* background-color: rgba(255, 255, 255, 0.399); */
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 20px;
}

/*----sub groups: ticket list----*/

.ticket_send_button_space {
  grid-row: 2;
  grid-column: 5 / span 2;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ticket_send_button_space button {
  padding: 2vw 4vw;
  border: none;
  border-radius: 5px;
}

.ticket_send_info_space {
  grid-row: 2;
  grid-column: 2 / span 2;
  /* background-color: rgba(255, 255, 255, 0.399); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.input_box {
  /*height: 50%;
  display: flex;
  align-items: center; */
  padding-left: 10px;
}

.input_box label {
  margin-bottom: 0px;
  margin-left: 10px;
}

/*====================================================================================
Landing
=====================================================================================*/
.my_scroll-container{ /*temporary*/
  scroll-snap-type: y mandatory;
  display: block;
  overflow-y: scroll;
  height: calc(100vh - 56px);

}


.landingtitle{
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  background-color: teal;
  color: #e0e0e0;
  /* padding: 1px; */
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.landingtitle h1{
  text-align: center;
  font-size: 100px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.landingtitle h2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.landing_block{
  height: calc(100vh - 56px);
  /* background-color: teal; */
  color: #e0e0e0;
  display: grid;
  grid-template-columns: 2fr 325px 1fr 325px 1fr 325px 2fr;
  grid-template-rows: 1fr 175px 400px 1fr;
  justify-content: stretch;
  align-items: stretch;
  scroll-snap-align: start;
  /* padding: 1px; */
}


.landing_block h1{
  grid-row: 2;
  grid-column: 1/ span 7;
  text-align: center;
  font-size: 90px;

}

.center_container{
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_block p{
  height: fit-content;
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.landing_block_first{
  grid-row: 3;
  grid-column: 2;
  /* background-color: #505050; */
  border-radius: 10px;
  padding: 10px;
}

.landing_block_second{
  grid-row: 3;
  grid-column: 4;
  /* background-color: #e0e0e0;
  background-color: #505050; */
  border-radius: 10px;
  padding: 10px;
}
.landing_block_third{
  grid-row: 3;
  grid-column: 6;
  /* background-color: #e0e0e0;
  background-color: #505050; */
  border-radius: 10px;
  padding: 10px;
}

.temp_afbeeldingplaceholder{
  height: 125px;
  width: 125px;
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.temp_afbeeldingplaceholder img{
  height: 100%;
  width: 100%;
}

#scroll_1{
  background-color: rgb(213, 233, 230);
  color: #0e0e0e;
  background-image: url("/divider_v2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  
  /* background-image: url("/slide_1.jpg");
  background-position: center;
  background-size: cover; */
}

#scroll_2{
  /* background-color: burlywood;
  background-image: url("/slide_2.jpg");
  background-position: center;
  background-size: cover; */
  background-color:rgb(178,202,191);
  color: #0e0e0e;
  background-image: url("/divider2_v2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 35%;

}

#scroll_3{
  /* background-color: gray; */
  background-color: rgb(135, 226, 199);
  background-color: #93eccd;
  color: #0e0e0e;
}

#myVideo{
  grid-column: 1/ span 7;
  grid-row: 1/ span 4;
  z-index: -3;
  object-fit: cover;
  justify-self: stretch;
  align-self: stretch;
}


/*====================================================================================
adaptive parts
=====================================================================================*/

@media only screen and (min-width: 768px) {
  .expertpage_layout {
    grid-template-columns: 40px 22% 1fr 20px 44% 2fr 40px;
    grid-template-rows: 20px 1fr 56% 20px 28% 1fr 20px;
  }

  .expertpage_layout h1 {
    font-size: 2vw;
  }

  .expertpage_layout h3 {
    font-size: 2vw;
  }

  .expertpage_layout h4 {
    font-size: 1.5vw;
  }

  .expertpage_layout p {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 992px) {
  .expertpage_layout {
    grid-template-columns: 20px 22% 1fr 20px 44% 2fr 20px;
    grid-template-rows: 20px 1fr 56% 20px 28% 1fr 20px;
  }

  .expertpage_layout h1 {
    font-size: 2vw;
  }

  .expertpage_layout h3 {
    font-size: 2vw;
  }

  .expertpage_layout h4 {
    font-size: 1.5vw;
  }

  .expertpage_layout p {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1200px) {
  .expertpage_layout {
    grid-template-columns: 30px 22% 1fr 20px 44% 2fr 30px;
    grid-template-rows: 20px 1fr 56% 20px 28% 1fr 20px;
  }
}

@media only screen and (max-width: 100vh) {
  .expertpage_layout {
    grid-template-columns: 20px 50% 5fr 20px 20% 2fr 20px;
    grid-template-rows: 20px 1fr 28% 10px 56% 2fr 20px;
  }

  .ticket_list {
    grid-row: 2 / span 2;
    grid-column: 2 / span 5;
    grid-template-columns: 20px 60% 6fr 15px 30% 3fr 20px;
    grid-template-rows: 20px 1fr 80% 20px;
  }

  .scrollspace {
    grid-row: 5 / span 2;
    grid-column: 2 / span 5;
    grid-template-columns: 0px 50% 5fr 20px 20% 2fr 0px;
    grid-template-rows: 0px 3fr 60% 10px 20% 1fr 0px;
  }

  .ticket_info {
    grid-template-columns: 10px 60% 3fr 20px 20% 1fr 10px;
    grid-template-rows: 10px 1fr 10% 5px 8fr 80% 10px;
  }

  .ticket_send_options {
    grid-template-columns: 10px 50% 2fr 10px 25% 1fr 10px;
    grid-template-rows: 10px 70% 1fr 10px;
  }

  .ticket_send_button_space {
    grid-row: 2 / span 2;
  }
  .ticket_send_info_space {
    grid-row: 2 / span 2;
  }

  .ticket_list_button_space {
    grid-row: 2 / span 2;
    grid-column: 5 / span 2;
    grid-template-columns: 10px 30% 1fr 3px 30% 1fr 10px;
    grid-template-rows: 10px 35% 7fr 5px 10% 2fr 10px;
    align-items: top;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;

    /* Hier was alles nog niet op de juiste plek*/
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left:  0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent; */
  }

  /* .ticket_list_button_space button{
    width: 100px;
    height: 40px;
  } */

  .ticket_list_button_left {
    grid-row: 5 / span 2;
    grid-column: 2 / span 2;
    justify-self: stretch;
  }
  .ticket_list_button_mid {
    grid-row: 2 / span 2;
    grid-column: 2 / span 5;
    align-self: end;
    height: 35%;
    border: 0px;
    border-radius: 5px;
  }
  .ticket_list_button_right {
    grid-row: 5 / span 2;
    grid-column: 5 / span 2;
    justify-self: stretch;
  }

  .ticket_list_info_space {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
  }

  .ticket_info_button_space {
    grid-row: 2 / span 2;
    grid-column: 2 / span 5;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  .ticket_info_button_space button,
  .ticket_info_button_space a {
    width: 80px;
    height: 100%;
    margin-right: 3px;
  }

  .ticket_info_button_space a button {
    /* temporary: the button within an a tag needs to go*/
    width: 100%;
    height: 100%;
  }

  .ticket_info_info_space {
    grid-row: 5 / span 2;
    grid-column: 2 / span 5;
  }

  .ticket_send_button_space button {
    padding: 4.2vw 8.4vw;
  }

  .expertpage_layout h3 {
    font-size: 4vw;
  }

  .expertpage_layout h4 {
    font-size: 3vw;
  }

  .expertpage_layout p {
    font-size: 3vw;
  }
}

/*colortesting*/

.expertpage_layout {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.ticket_list,
.ticket_info,
.ticket_send_options {
  background-color: rgba(255, 255, 255, 0.05);
}

/* .ticket_list_info_space, */
.ticket_info_info_space,
.ticket_send_info_space {
  background-color: rgba(255, 255, 255, 0.1);
}

.ticket_list_info_list_container {
  background-color: rgba(255, 255, 255, 0);
}

.ticket_list_info_list_item {
  /* background-color: rgba(255, 255, 255, 0.15); */
}

.scrollspace button {
  background-color: rgb(110, 224, 213);
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(110, 224, 213);
  font-weight: bold;
}

.scrollspace button:hover {
  background-color: rgb(110, 224, 213);
  color: rgb(20, 20, 20);
}

@media only screen and (min-width: 2000px) {
  #janus_canvas {
    left: 0;
  }

  .tri_panel,
  .tri_panel_left,
  .tri_panel_right {
    border-left: solid black calc((100vw - 2000px) / 2);
    border-right: solid green calc((100vw - 2000px) / 2);
    box-sizing: content-box;
  }
}
